name: Mi Primer Workflow
on: [push]

jobs:
  myjob:
    runs-on: ubuntu-latest

    steps:
    - name: One
      run: echo "Hola Amigos de GitHub"
      
  mysecondjob:
    runs-on: ubuntu-latest

    steps:
    - name: ls
      run: ls -al