name: Mi Primer Workflow
on: [push]

jobs:
  myjob:
    runs-on: ubuntu-latest

    steps:
    - name: One
      run: echo "Hola Amigos de GitHub"

    - name: touch file
      run: touch mi_archivo.txt
    
    - name: set text 
      run: echo "Esto es YAML 2" >> mi_archivo.txt 

    - name: read file
      run: cat mi_archivo.txt
      
  mysecondjob:
    runs-on: ubuntu-latest
    needs: [myjob]

    steps:
    - name: ls
      run: ls -al